arxiv
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
langsmith
pydantic
pymupdf
pypdf
python-dotenv
qdrant-client
fastapi
uvicorn[standard]
python-multipart
tavily-python
ipykernel
langchain
deepeval